= semantic_form_for [:admin, @page], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = f.input :body
    = f.input :sub_content
    = f.input :header
    = f.input :page_name
    = f.input :image, as: :file
    = f.actions
