
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active">
    <div class="navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag(image_url("logo.png"),alt: 'logo') %>
      <% end %>
      </div>
    <div class="navbar-start">
        <div class="navbar-item search-bar-width">
          <%= form_tag(products_path,method: :get, class: "search-bar-width") do %>
            <div class="field is-horizontal search-bar-width">
              <div class="control">
              <div class="select is-medium">
                <%= select_tag :category_search, options_from_collection_for_select(Category.where(is_main_category: true), "id", "name"),prompt: "All", class: "is-medium"%>
              </div>
              </div>
              <div class="control search-bar-width">
                <%= text_field_tag :search,"", class: "input is-medium search-bar-width", placeholder: "Search..." %>
              </div>
              <div class="control is-fullwidth">
                <%= button_tag(type: "submit", class: "button is-medium") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <div class="navbar-end cart-text">
      <%= render 'layouts/cart_progress' %>
    </div>
  </div>
</nav>