<div class="modal" id="checkout">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Checkout</p>
            <button class="delete close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <h4>Shipping Information</h4>
                                <p><%= current_order.customer.first_name %></p>
                                <p><%= current_order.customer.address %></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">

                    </div>
                </div>
            </div>
        </section>
        <div class="modal-card-foot">
            <%= form_tag charges_path do %>
            <article>
                <% if flash[:error].present? %>
                <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                </div>
                <% end %>
            </article>
            <% total = current_order.sub_total + current_order.tax + current_order.shipping %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="A month's subscription"
                    data-amount=<%= (total * 100).to_i %>
                    data-locale="auto"></script>
            <% end %>
        </div>
    </div>
</div>