= semantic_form_for [:admin, @category], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = f.input :parent_id
    = f.input :name
    = f.input :is_main_category
    = f.input :products, :as => :check_boxes
    = f.actions
