= semantic_form_for [:admin, @product], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = f.input :title
    = f.input :price
    = f.input :description
    = f.input :serving_size
    = f.input :ingredient_list
    = f.input :category_ids, as: :check_boxes, collection: Category.all
    = f.input :image, as: :file
    = f.actions
