<div class="container">
  <div class="columns">
    <div class="column is-two-fifths">
      <%= render partial: 'products/product_card', locals: {product: @product,show_cart: false} %>
    </div>
    <div class="column is-two-fifths">
      <div class="content">
        <h2 class="title is-2"><%= @product.title%></h2>
        <p><%= @product.description%></p>
        <p><strong>Serving Size:</strong> <%= @product.serving_size%></p>
      </div>
    </div>
    <div class="column">
      <%= render partial: 'products/add_to_cart_form', locals: {order_product: @order_product, product: @product} %>
    </div>
  </div>
  <div class="columns">
    <div class="column is-full">
    <h2 class="title is-3">Product Details</h2>
    <div class="is-divider"></div>
    <h3 class="title is-4">Ingredients</h3>
    <table class="table">
          <thead>
          </thead>
          <tbody>
            <% @product.ingredient_list.split(',').each do |ingredient| %>
              <tr>
                <td><%= ingredient %></td>
              </tr>
            <% end %>
          <tbody>
        </table>
      </div>
  </div>
</div>