<!DOCTYPE html>
<html>
  <head>
    <title>Beyondfresh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'menu.js'%>
  </head>

  <body>
      <%= render 'shared/function_menu' %>
      <div id="menu"></div>
    <div class="container main-content">
      <% flash.each do |key, value| %>
        <div class="notification is-<%= key %>"><strong><%= value %></strong></div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      <a class="button is-medium" target="_blank" href="https://github.com/GhileMear/Beyondfresh_ecommerce">
        <span class="icon is-medium">
          <i class="fab fa-github"></i>
        </span>
        <span>GitHub</span>
      </a>
      <div class="is-divider"></div>
      <div class="container">
        <div class="columns">
          <div class="column is-fullwidth footer-sub-content">
            <%= link_to root_path do %>
              <%= image_tag(image_url("logo.png"),alt: 'logo') %>
            <% end %>
          </div>
        </div>
      </div >
    </footer>
  </body>
</html>
