<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beyondfresh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'order_window.js'%>
  </head>

  <body>
    <article>
      <%= render 'shared/function_menu' %>
    <div class="container main-content">
      <% flash.each do |key, value| %>
        <div class="notification is-<%= key %>"><strong><%= value %></strong></div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      <%= render 'shared/footer'%>
    </footer>
    </article>
  </body>
</html>
